@import "compass/css3";
@import "susy";
//this is the default number of columns
$total-columns: 5; 
//width of each column
$column-width   : 4em; 
//space between columns
$gutter-width   : 1em; 
//space on the right and left of the grid
$grid-padding   : $gutter-width;
 
//alternative layout breakpoints
$tablet: 8;
$computer: 55em 12;
$mr: 20px; // set margin right
$ml: 20px;
$min-width: 200px;

@mixin transa {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
// or add @include transition(all .3s ease-out); // for compass

@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020"; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {clear: both;}
}
.clearfix {@include clearfix;}
@mixin pie ($pie-behavior: url(css/pie.htc)) {
  -ms-behavior: $pie-behavior;
  behavior: $pie-behavior; 
}
.vm {display: block;}
.align-left {float: left;margin-right: $mr;}
.align-right {float: right;margin-right: $ml;}
// for tabs
.section {.box {display: none;&.visible {display: block;}}}



