@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

textarea {}

///// placeholder

textarea, 
input[type=password],
input[type=text] {
	@include input-placeholder {
    	opacity:1;
    	background: #fff; 	
    }
}
//// button settings
input[type=submit],
.button {
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
	text-align: center; 
	text-decoration: none;
	&:hover {

	}
}