$inner: 980px;
.inner {
  margin: 0 auto;
  position: relative; 
  width: $inner; 
}

#wrapper {}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 100px;
}

/* Middle
-----------------------------------------------------------------------------*/
#content {padding: 0 0 100px;}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
  width: 100%;
  margin: -100px auto 0;
  min-height: 100px;
  position: relative; 
  z-index: 998; 
}

