.jq-selectbox__select {
	height: 34px;
	position: relative;
	.jq-selectbox__select-text {
		cursor: pointer; 
	}
	.jq-selectbox__trigger {
		position: absolute;
		right: 15px;
		top: 8px;
		.jq-selectbox__trigger-arrow {
			 
		}
	}
}
.jq-selectbox__dropdown {
	width: 100%;
	ul {
		background: #fbfbfb;
		li {
			cursor: pointer;
			&.selected, 
			&:hover {
				color: #fff;
				background: #0177be; 
			}
		}
	}
}
.jq-radio {

	vertical-align: top;
	position: relative;
	top: 2px; 
	&.checked {
		span {
			 
			vertical-align: top;
		}
	}
}


