body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {margin: 0;padding: 0;}
html {height: 100%;
    body {width: 100%;height: 100%;
    #wrapper {min-height: 100%;height: auto !important;height: 100%;}
    table {border-collapse: collapse;border-spacing: 0;caption, th {text-align: left;}}
    fieldset, img {border: 0;}
    address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;font-weight: normal;}
    ol, ul {list-style: none;}
    
    q {&:before, &:after{content: '';}}
    abbr, acronym {border: 0;}
    header, nav, section, article, aside, footer {display: block;}
    a {outline: none;text-decoration: underline; &:hover {text-decoration: none;}}}
    p {margin: 0 0 18px}    
    img {border: none;}
    input {vertical-align: middle;}    
    :focus {outline: none;}
    h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
    button::-moz-focus-inner,  input[type="reset"]::-moz-focus-inner,  input[type="button"]::-moz-focus-inner,  input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 1px dotted transparent;
    padding: 0 2px;
    textarea, input[type=password],input[type=text] {
        resize: none;overflow: hidden;
     }
}

i {font-style: normal;}
input {border: none;}
input[type=submit], button, .button  {cursor: pointer;} 
:focus {outline: none;}
}