$icons: sprite-map("icons/*.png", $spacing: 10px);
$other: sprite-map("other/*.png", $spacing: 10px);
// "other" - any name for folder and variable  


// sized sprites
@mixin image-size($path){
	width: image-width($path);
	height: image-height($path);
	vertical-align: middle; 
	display: inline-block;
}
@mixin sized-sprite($map, $sprite){
	background: sprite($map, $sprite) no-repeat;
	@include image-size(sprite-file($map, $sprite));
}
//shortcut
@mixin s($sprite, $map: $icons){
	background: sprite($map, $sprite) no-repeat;
	@include image-size(sprite-file($map, $sprite));
}
//only image, when dimensions are useless
@mixin si($sprite, $map: $icons){
    background: sprite($map, $sprite) no-repeat;
}
@mixin sa($sprite, $map: $icons){
    background: sprite($map, $sprite) no-repeat;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden; 
    height: 0;
}
@mixin other($sprite, $map: $other){
    background: sprite($map, $sprite) no-repeat;
    @include image-size(sprite-file($map, $sprite));
}